---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mí"
	description="Descubre mi trayecto en la ingeniería de software, desde mis primeros proyectos hasta mis investigaciones en inteligencia artificial y desarrollo de hardware, en mi camino hacia convertirme en un Senior Full Stack Developer. Explora cómo puedo contribuir y enriquecer la comunidad tecnológica con mi pasión y experiencia."
	pubDate={new Date('Jul 18 2024')}
	heroImage="/about.jpg"
>
	<p>
		¡Hola! Con 18 años y originario de Argentina, mi enfoque está en la <strong>ingeniería
		de software</strong> y la exploración de tecnologías. Desde que comencé mi viaje en mayo
		de 2024, he estado inmerso en proyectos que abarcan desde el desarrollo de aplicaciones
		hasta la experimentación con inteligencia artificial y hardware. La resolución creativa
		de problemas y la innovación tecnológica son mis principales áreas de interés.
	</p>

	<p>
		Fuera del ámbito académico, disfruto de videojuegos como Honkai: Star Rail y encuentro
		inspiración en la narrativa de novelas. Mis aspiraciones incluyen convertirme en un 
		<strong>Senior Full Stack Developer</strong> en programación, contribuir al avance de 
		la inteligencia artificial y crear contenido educativo que inspire a otros en este 
		campo en constante evolución. Me interesa especialmente la forma en que la tecnología 
		puede impactar positivamente en nuestra sociedad y veo con optimismo las posibilidades 
		que el futuro nos ofrece en este sentido.
	</p>

	<p>
		En mi tiempo libre, además de explorar nuevos proyectos de desarrollo, disfruto construyendo
		conexiones significativas y aprendiendo de otros para impulsar el progreso y la innovación
		en nuestra industria. Estoy decidido a seguir creciendo y explorando nuevas áreas dentro 
		de la ingeniería de software.
	</p>

	<p>
		Mi motivación radica en llegar a ser un referente en el campo de la inteligencia artificial, 
		aportando valor al mundo a través de mi trabajo. Mi aspiración es liderar proyectos 
		innovadores que impacten positivamente en nuestra sociedad, especialmente en áreas como 
		la inteligencia artificial y el desarrollo de software avanzado.
	</p>

	<p>
		dentro del campo de la inteligencia artificial y el desarrollo de software. Estoy 
		comprometido con la creación de herramientas y aplicaciones que no solo optimicen procesos 
		técnicos, sino que también contribuyan a resolver problemas prácticos y mejorar la calidad 
		de vida. Mi objetivo es utilizar mis habilidades para diseñar sistemas que puedan influir 
		positivamente en diversas industrias, promoviendo la eficiencia y el progreso.
	</p>

	<p>
		No dudes en contactarme si deseas discutir ideas, colaboraciones o simplemente compartir
		historias sobre tecnología y desarrollo. ¡Espero poder conectar contigo pronto!
	</p>
</Layout>