---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mí"
	description="Descubre mi trayecto en la ingeniería de software, desde mis primeros proyectos hasta mis investigaciones en inteligencia artificial y desarrollo de hardware, en mi camino hacia convertirme en un Senior Full Stack Developer. Explora cómo puedo contribuir y enriquecer la comunidad tecnológica con mi pasión y experiencia."
	pubDate={new Date('Jul 18 2024')}
	heroImage="/about.jpg"
>
	<p>
		¡Hola! Soy un estudiante apasionado de 18 años de Argentina, con un fuerte 
		interés en la ingeniería de software y la exploración de tecnologías. 
		Desde que comencé mi viaje en mayo de 2024, he estado inmerso en proyectos 
		que abarcan desde el desarrollo de aplicaciones hasta la experimentación 
		con inteligencia artificial y hardware. Mi enfoque principal radica en 
		la resolución creativa de problemas y la innovación tecnológica.
	</p>

	<p>
		Fuera del ámbito académico, disfruto explorando nuevos videojuegos y
		encontrando inspiración en la narrativa de novelas. Mis aspiraciones
		incluyen convertirme en un experto en programación, contribuir al avance 
		de la inteligencia artificial y crear contenido educativo que inspire a otros 
		en este campo en constante evolución. Me apasiona especialmente la forma 
		en que la tecnología puede impactar positivamente en nuestra sociedad y 
		estoy emocionado por las posibilidades que el futuro nos ofrece en este sentido.
	</p>

	<p>
		En mi tiempo libre, además de explorar nuevos proyectos de desarrollo, disfruto 
		compartir mis conocimientos a través de plataformas educativas y participando
		activamente en comunidades tecnológicas locales e internacionales. Creo firmemente 
		en la importancia de construir conexiones significativas y aprender unos de otros
		para impulsar el progreso y la innovación en nuestra industria. He tenido el
		privilegio de colaborar con equipos multidisciplinarios, lo cual me ha permitido
		no solo aplicar mis habilidades técnicas, sino también aprender de expertos en
		diferentes campos. Esta experiencia ha reforzado mi determinación de seguir
		creciendo y explorando nuevas áreas dentro de la ingeniería de software y más allá.
	</p>

	<p>
		Mi enfoque principal radica en la resolución creativa de problemas y la innovación
		tecnológica. Me apasiona especialmente la forma en que la tecnología puede impactar
		positivamente en nuestra sociedad y estoy emocionado por las posibilidades que
		el futuro nos ofrece en este sentido. Mis aspiraciones incluyen convertirme en un
		 experto en programación, contribuir al avance de la inteligencia artificial y crear
		  contenido educativo que inspire a otros en este campo en constante evolución.
	</p>

	<p>
		Además, me motiva profundamente la oportunidad de aplicar mis habilidades para 
		desarrollar soluciones innovadoras que no solo resuelvan desafíos técnicos, sino 
		que también mejoren la experiencia del usuario y fomenten un impacto positivo en 
		la comunidad global. Creo firmemente en el poder transformador de la tecnología 
		cuando se combina con una visión ética y humanista, y estoy comprometido a explorar 
		cómo podemos utilizar estas herramientas para construir un futuro más inclusivo y sostenible.
	</p>

	<p>
		No dudes en contactarme si deseas discutir ideas, colaboraciones o simplemente compartir
		 historias sobre tecnología y desarrollo. ¡Espero poder conectar contigo pronto!
	</p>
</Layout>